<%- include("top.ejs") %>
    <div class="alert alert-info">
        <%= qty %> clientes cadastrados!
    </div>

    <!-- Depuração: verifique os dados que estão sendo passados -->
    <pre><%= //JSON.stringify(customers, null, 2) %></pre>

    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <td>Nome</td>
                <td>CPF</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(item=> {
        %>
                <tr>
                    <td>
                        <a href="/customers/edit/<%=item._id %>" title="Editar">
                            <%= item.name %>
                        </a>
                    </td>
                    <td>
                        <%= item.cpf %>
                    </td>

                    <td>

                        <a href="/customers/delete/<%=item._id %>" title="Excluir" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir esse cliente?')">
                            <img src="/images/delete.png">
                        </a>
                    </td>
                </tr>
                <% 
      }) 
        %>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <% for(let i=1; i <= pagesQty; i++) { %>
                <li class="page-item">
                    <a class="page-link" href="/customers/<%= i %>">
                        <%= i %>
                    </a>
                </li>
                <% } %>
        </ul>
    </nav>
    <div class="row">
        <div class="col-2">
            <a href="/customers/new" class="btn btn-primary">Cadastrar Novo</a>
        </div>
        <div class="col-2">
            <a href="/" class="btn btn-primary">index</a>
        </div>
        <div class="col-2">
            <form action="/logout" method="POST">
                <input type="submit" value="Logout" class="btn btn-secondary" />
            </form>
        </div>
    </div>
    <%- include("bottom.ejs") %>