<%- include("top.ejs") %>

    <p>Preencha os campos abaixo para cadastrar ou editar um usu치rio.</p>
    <div class="col-6">
        <form action="/users/new" method="POST">
            <div class="mob-3">
                <div class="fomr-group">
                    <label for="name">Nome:</label>

                    <input type="text" name="name" value="<%= user.name%>" class="form-control" placeholder="Nome do usu치rio" />
                </div>
            </div>

            <div class="mob-3">
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" value="" class="form-control" placeholder="Senha do usu치rio" />
                </div>
            </div>

            <div class="mob-3">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" value="<%= user.email%>" class="form-control" placeholder="E-mail do usu치rio" />
                </div>
            </div>
            </p>
            <input type="hidden" name="id" value="<%= user._id%>" />
            <p>
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a href="/users" class="btn btn-secondary">Cancelar</a>
            </p>

        </form>
        <script>
            if (window.location.search) {
                const error = window.location.search.split('=')[1];
                alert(decodeURI(error));
            }
        </script>
        <%- include("bottom.ejs") %>